In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_csv('Customer-Churn.csv')

In [14]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

# Apply SMOTE for upsampling the data

In [15]:
X = pd.get_dummies(df.drop('Churn', axis=1))
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [16]:
smote = SMOTE()
X_train, y_train = smote.fit_resample(X_train, y_train)
y_train.value_counts()

No     4139
Yes    4139
Name: Churn, dtype: int64

In [8]:
classification = LogisticRegression(random_state=42, max_iter=100000)
classification.fit(X_train, y_train)

lr_predictions = classification.predict(X_test)
lr_accuracy = accuracy_score(y_test, lr_predictions)

In [17]:
print ("Logistic regression accuracy:", lr_accuracy)

Logistic regression accuracy: 0.7877927608232789

In [19]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
dt_predictions = decision_tree.predict(X_test)
dt_accuracy = accuracy_score(y_test, dt_predictions)

In [20]:
print ("Decision tree classifier accuracy:", dt_accuracy)

Decision tree classifier accuracy: 0.7643718949609652

# Apply TomekLinks for downsampling

In [22]:
X = pd.get_dummies(df.drop('Churn', axis=1))
y = df['Churn']

tomek = TomekLinks()
X_tl, y_tl = tomek.fit_resample(X, y)
y_tl.value_counts()

No     4722
Yes    1869
Name: Churn, dtype: int64

In [23]:
X_train_tl, X_test_tl, y_train_tl, y_test_tl = train_test_split(X_tl, y_tl, test_size=0.2, random_state=42)

In [25]:
classification_tl = LogisticRegression(random_state=42, max_iter=100000)
classification_tl.fit(X_train_tl, y_train_tl)

lr_predictions_tl = classification_tl.predict(X_test_tl)
lr_accuracy_tl = accuracy_score(y_test_tl, lr_predictions_tl)

In [26]:
print ("Logistic regression accuracy:", lr_accuracy_tl)

Logistic regression accuracy: 0.7907505686125853

In [27]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train_tl, y_train_tl)
dt_predictions_tl = decision_tree.predict(X_test_tl)
dt_accuracy_tl = accuracy_score(y_test_tl, dt_predictions_tl)

In [28]:
print ("Decision tree classifier accuracy:", dt_accuracy_tl)

Decision tree classifier accuracy: 0.7846853677028052

# Result

Overall, both the logistic regression and decision tree classifiers show reasonably good accuracy on the downsampled data. However, accuracy alone may not provide the complete picture of model performance, especially in imbalanced datasets. We might also to consider other metrics such as precision, recall, and F1-score, especially if misclassifying churned customers (the minority class) is costly or important for your specific application. These metrics can provide insights into how well the models perform in identifying the minority class.